@model ModulosUsuario.Models.ShopCartViewModel
@{ ViewData["Title"] = "Meu Carrinho"; }

<script src="~/js/views/sale.js"></script>

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Meu Carrinho</h3>
    </div>
    <form asp-controller="Sale" asp-action="FinishSale" asp-antiforgery="true" method="post">
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("~/Views/Sale/ShopCart/_ProductsDetails.cshtml", Model)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("~/Views/Sale/ShopCart/_AddressUser.cshtml", Model)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("~/Views/Sale/ShopCart/_Payment.cshtml", Model)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div style="text-align:end">
                                    <a asp-action="Index" class="btn btn-dark mr-2">Retornar</a>
                                    <button class="btn btn-success" type="submit" name="submit" formmethod="post" >
                                        <i class="fas fa-cart-plus"></i><span>  Finalizar Compra</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>