@model ModulosUsuario.Models.User
@{ ViewData["Title"] = "Criar/Editar Usuário"; }

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Criar/Editar Usuário</h3>
    </div>

    <form asp-controller="User" asp-action="CreateOrEdit" asp-antiforgery="true" method="post">
        @Html.Partial("~/Views/User/_Form/_PersonalData.cshtml", Model)
        @Html.Partial("~/Views/User/_Form/_AddressForm.cshtml", Model)


        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div style="text-align:end">
                            <a asp-action="Index" class="btn btn-dark mr-2">Retornar</a>                        
                            <input type="submit" class="btn btn-success" value="Salvar" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>