@model ModulosUsuario.Models.Product
@{ ViewData["Title"] = Model.ProductId == 0 ? "Criar Produto" : "Editar Produto"; }
@{ var title = "Editar";
    if (Model.ProductId == 0)
    {
        title = "Criar";
        Model.Active = true;
    } }

<script src="~/js/views/product.js"></script>

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">@title Produto</h3>
    </div>

    <form asp-controller="Product" asp-action="CreateOrEdit" asp-antiforgery="true" method="post" enctype="multipart/form-data">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="card-title">Informações do Produto</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @Html.HiddenFor(h => h.ProductId)
                        @Html.HiddenFor(h => h.Active)
                        @Html.HiddenFor(h => h.ProductImage)
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label asp-for="SKU"></label>
                                <input asp-for="SKU" class="form-control" placeholder="Informe o SKU" />
                                <span asp-validation-for="SKU" class="field-validation-valid text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="Name"></label>
                                <input asp-for="Name" class="form-control" placeholder="Informe o Nome" />
                                <span asp-validation-for="Name" class="field-validation-valid text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="PriceList"></label>
                                <input asp-for="PriceList" class="form-control" placeholder="Digite o Preço de Lista" />
                                <span asp-validation-for="PriceList" class="field-validation-valid text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label asp-for="DueDate"></label>
                                <input asp-for="DueDate" class="form-control" placeholder="Informe a Data de Vencimento" />
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="UnityType"></label>
                                @Html.DropDownList("UnityTypeId", (IEnumerable<SelectListItem>)ViewBag.UnityTypes, null, new { @class = "form-control" })
                                <span asp-validation-for="UnityTypeId" class="field-validation-valid text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="Unity"></label>
                                <input type="number" asp-for="Unity" class="form-control" placeholder="Digite a Unidade" />
                                <span asp-validation-for="Unity" class="field-validation-valid text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="Description"></label>
                                <input asp-for="Description" class="form-control" placeholder="Informe a Descrição do Produto" />
                                <span asp-validation-for="Description" class="field-validation-valid text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="ProductImageFile" class="control-label"></label>
                                <div class="custom-file">
                                    <input asp-for="ProductImageFile" class="custom-file-input" id="customFile" onchange="productController.productImageOnChange(this)">
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                                <span asp-validation-for="ProductImageFile" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div style="text-align:end">
                            <a asp-action="Index" class="btn btn-dark mr-2">Retornar</a>
                            <input type="submit" class="btn btn-success" value="Salvar" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>